.flex {
  background-color: #00c7ce;
  height: 50vh;/* ※vh … 高さの指定方法の一種です。Flexレイアウト以外でも使用できます。
  ウィンドウの高さ全体を100として、割合でサイズを指定します。「viewport height」の略で、viewport の高さ（ブラウザの高さ）に対する割合を指定することが可能です。
  100vhでウィンドウサイズと同じ高さになります。ウィンドウサイズを変えると可変します。 */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.flex > div {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
}